<%=
  case @target
  when Contributor
    render 'contributor_ivars', contributor: @target, window: @window
  when Release
    render 'release_ivars', release: @target
  end
%>

<!-- see http://google.com/support/webmasters/bin/answer.py?hl=en&answer=99170 -->
<div class="vcard">
  <h1 id="title">
    <%= @title %><br/>
    <span class="listing-total">Showing <%= pluralize @commits.size, 'commit' %></span>
  </h1>

  <div id="table-wrap">
    <table>
      <tr class="header">
        <th>Hash</th>
        <th>Date</th>
        <th>Message</th>
      </tr>
      <%= render @commits %>
    </table>
  </div>
</div>

<%= render 'shared/window_sidebar' %>
