<%
   @title       = add_window_to(%(##{@contributor.rank} <span class="fn">#{h(@contributor.name)}</span>), @window)
   @description = "Listing of patches contributed by #{@contributor.name} to Ruby on Rails"
   @keywords    = @contributor.name
%>

<!-- see http://google.com/support/webmasters/bin/answer.py?hl=en&answer=99170 -->
<div class="vcard">
  <h1 id="title">
    <%= @title %><br/>
    <span class="listing-total">Showing <%= pluralize @commits.size, 'commit' %></span>
  </h1>
  <%= link_to "All contributors →", contributors_path, :class => 'name-mapping' %>

  <div id="table-wrap">
    <table>
      <tr class="header">
        <th>Hash</th>
        <th>Date</th>
        <th>Message</th>
      </tr>
      <%= render :partial => 'commit', :collection => @commits %>
    </table>
  </div>
</div>

<%= render 'shared/window_sidebar' %>
