<% @title = add_since_to("##{@contributor.rank} #{h(@contributor.name)}", @since) %>

<h1 id="title">
  <%= h @title %><br/>
  <span class="listing-total">Showing <%= pluralize @commits.size, 'commit' %></span>
</h1>
<%= link_to "All contributors &rarr;", contributors_path, :class => "name-mapping" %>

<div id="table-wrap">
  <table>
    <tr class="header">
      <th>Hash</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
    <%= render :partial => 'commit', :collection => @commits %>
  </table>
</div>

<% content_for :sidebar do %>
    <h4>
      Commits from
    </h4>
    <ul id="navigation">
      <%= sidebar_tab 'All time',   params[:since].nil?,        contributor_commits_path(@contributor) %>
      <%= sidebar_tab 'This week',  params[:since] == this_week,  contributor_commits_path(@contributor, :since => this_week) %>
      <%= sidebar_tab 'This month', params[:since] == this_month, contributor_commits_path(@contributor, :since => this_month) %>
      <%= sidebar_tab 'This year',  params[:since] == this_year,  contributor_commits_path(@contributor, :since => this_year) %>
    </ul>
<% end %>
