<% content_for :javascripts do %>
  <%= javascript_include_tag 'code_highlighter.js', 'ruby.js', :cache => 'names_mapping' %>
<% end %>

<% @title = 'Names Mapping and Special Cases' %>

<h1>
  <%= @title %>
</h1>

<div class="clearfix"></div>

<p>
  Rails used Subversion until April 2008. That's more than three years in its
  history as an Open Source project.
</p>
<p>
  Since Subversion does not distinguish authors from committers, credit was
  given in informal ways. Convention was the commit message put the
  contributor or contributors in square brackets at the end, as in:
</p>
<pre>
  Improving railties test coverage. Closes #11496 [miloops]
</pre>
<p>
  or somewhere in some <span class="filename">CHANGELOG</span> associated with
  the commit, as in:
</p>
<pre>
  * Alias association #build to #new so it behaves predictably. #8787 [lifofifo]
</pre>
<p>
  In fact, even nowadays with Git the author field occasionally needs
  some normalization, for example
</p>
<pre>
  Yehuda Katz + Carl Lerche
</pre>
<p>
  and credit is still done in the commit message for lots of patches, as in
</p>
<pre>
  Ensure HTTP Digest auth uses appropriate HTTP method [#2490 state:resolved] [Steve Madsen]
</pre>
<p>
  You'll find there lots of ways to refer to the same person, names, email
  addresses, IRC nicks, and all sort of handlers. This application normalizes
  them using the mapping in <a href="#names-mapping">Names Mapping</a>.
</p>
<p>
  Also, since this was done by hand there are typos, special cases, etc. These
  are dealt with as you see in <a href="#special-cases">Special Cases</a>.
</p>
<p>
  If you find any missing bit here please just PM fxn somewhere.
</p>

<h2 id="names-mapping">Names Mappging</h2>
<div id="table-wrap">
  <table>
    <col width="30%"/>
    <col width="70%"/>
    <tr class="header">
      <th>Name</th>
      <th>Also seen in logs as&hellip;</th>
    </tr>
    <% for name in @names_mapping.keys.sort %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td class="highlight"><%= h name %></td>
          <%# we render U+FE6B instead of the at sign %>
          <td class="log"><%= h Array(@names_mapping[name]).map {|n| %{"#{n}"}}.to_sentence.gsub("@", "﹫") %>
        </tr>
    <% end %>
  </table>
</div>

<h2 id="special-cases">Special Cases</h2>
<div class="code">
  <code class="ruby">
<%= h @special_cases %>
  </code>
</div>
