<tr class="<%= cycle 'even', 'odd' %>">
  <td class="release-name"><%= release.name %></td>
  <td class="release-counter"><%= release.ncontributors %></td>
  <td class="release-counter"><%= link_to release.ncommits, release_commits_path(release) %></td>
  <td class="release-date"><%= release.date.to_date %></td>
</tr>
