<%
   @title = add_window_to("Rails Contributors", @window)
   @description = 'Index of people who have contributed patches to Ruby on Rails'
%>

<h1 id="title">
  <%= @title %><br/>
  <span class="listing-total">Showing <%= pluralize @contributors.size, 'person' %></span>
</h1>
<%= link_to "See names mapping →", names_mapping_path, :class => 'name-mapping' %>

<div id="table-wrap">
  <table>
    <tr class="header">
      <th></th>
      <th>Name</th>
      <th>Commits</th>
    </tr>
    <%= render :partial => 'contributor', :collection => @contributors %>
  </table>
</div>

<%= render 'shared/window_sidebar' %>
