<% @title = add_since_to("Rails Contributors", @since) %>

<h1 id="title">
  <%= @title %><br/>
  <span class="listing-total">Showing <%= pluralize @contributors.size, 'person' %></span>
</h1>
<%= link_to "See names mapping &rarr;", names_mapping_path, :class => "name-mapping" %>

<div id="table-wrap">
  <table>
    <tr class="header">
      <th>Rank</th>
      <th>Name</th>
      <th>Commits</th>
    </tr>
    <%= render :partial => 'contributor', :collection => @contributors %>
  </table>
</div>

<% content_for :sidebar do %>
    <h4>
      Commits from
    </h4>
    <ul id="navigation">
      <%= sidebar_tab 'All Time',   contributors_path %>
      <%= sidebar_tab 'This week',  contributors_path(:since => this_week) %>
      <%= sidebar_tab 'This month', contributors_path(:since => this_month) %>
      <%= sidebar_tab 'This year',  contributors_path(:since => this_year) %>
    </ul>
<% end %>
