<% content_for :sidebar do %>
  <p>
    <%= link_to 'This week',  contributors_path(:since => this_week) %> |
    <%= link_to 'This month', contributors_path(:since => this_month) %> |
    <%= link_to 'This year',  contributors_path(:since => this_year) %> |
    <%= link_to 'All Time',   contributors_path %><br/>
  </p>
  <p><%= link_to 'See names mapping and special cases handling', names_mapping_path %></p>
<% end %>

<% @title = add_since_to("Rails Contributors") %>

<h1><%= @title %></h1>
<table border="0">
  <tr>
    <th>Rank</th>
    <th>Commits</th>
    <th align="left">Name</th>
  </tr>
  <% @contributors.each_with_index do |contributor, i| %>
    <tr>
      <td align="right"><%= i + 1 %></td>
      <td align="right"><%= contributor.ncontributions %></td>
      <td><%= link_to h(contributor.name), contributor_commits_path(contributor) %></td>
    </tr>
  <% end %>
</table>