<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%= Array.wrap(@keywords).concat(['Ruby on Rails', 'core', 'contributors']).join(',') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="Xavier Noria">
    <meta name="designer" content="José Espinal">

    <title><%= normalize_title(@title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <nav id="topBar" aria-label="Secondary">
      <div class="wrapper">
        <%= render 'layouts/top_bar_content' %>
      </div>
    </nav>
    <div id="header">
      <div class="wrapper">
        <div id="logo">
          <%= link_to image_tag('rails_contributors_logo.gif'), root_path %>
        </div>
      </div>
    </div>
    <div id="header-shadow">
      <div class="wrapper">
        <div id="container">
          <div id="content">
            <div id="content-in">
              <%= yield %>
            </div>
          </div>
          <nav id="sidebar" aria-label="Main">
            <details>
              <summary><span>Navigation</span></summary>
              <%= yield :sidebar %>
            </details>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
