<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= normalize_title(@title) %></title>
    <%= stylesheet_link_tag 'reset.css', 'screen.css', :cache => true, :charset => 'utf-8' %>
    <%= yield :javascripts %>
  </head>
  <body>
    <div id="topBar">
      <%= render :partial => 'layouts/top_bar_content' %>
    </div>
    <div id="header">
      <div id="logo">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
    </div>
    <div id="header-shadow">
      <div id="container">
        <div id="content">
          <div id="content-in">
            <%= yield %>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
        <div id="bottom"></div>
      </div>
    </div>
  </body>
</html>
